@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Frutiger";
  src: url("/public/fonts/Frutiger.ttf") format("ttf"),
    url("/public/fonts/Frutiger.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Frutiger";
  src: url("/public/fonts/Frutiger_bold.ttf") format("ttf"),
    url("/public/fonts/Frutiger_bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
}

/**
 * ----------------------------------------
 * animation tilt-in-fwd-tr
 * ----------------------------------------
 */

/* .tilt-in-fwd-tr {
  -webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%)
      skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-tr {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    transform: rotateY(20deg) rotateX(35deg) translate(300px, -300px)
      skew(-35deg, 10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(-50%, -50%)
      skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
} */

/**
 * ----------------------------------------
 * animation tilt-in-fwd-br
 * ----------------------------------------
 */

/* .tilt-in-fwd-br {
  -webkit-animation: tilt-in-fwd-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-fwd-br 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px)
      skew(35deg, -10deg);
    transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-fwd-br {
  0% {
    -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px)
      skew(35deg, -10deg);
    transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(-50%, -50%) skew(0deg, 0deg);
    opacity: 1;
  }
} */

/**
 * ----------------------------------------
 * animation tilt-in-right-1
 * ----------------------------------------
 */

/* .tilt-in-right-1 {
  -webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-right-1 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) translateY(-50%)
      skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) translateY(-50%) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(-50%) translateY(-50%)
      skewX(0deg);
    transform: rotateX(0deg) translateX(-50%) translateY(-50%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) translateY(-50%)
      skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) translateY(-50%) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(-50%) translateY(-50%)
      skewX(0deg);
    transform: rotateX(0deg) translateX(-50%) translateY(-50%) skewX(0deg);
    opacity: 1;
  }
}

.tilt-in-right-1-reverse {
  -webkit-animation: tilt-in-right-1-reverse 0.6s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-right-1-reverse 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}

@-webkit-keyframes tilt-in-right-1-reverse {
  0% {
    -webkit-transform: rotateX(0deg) translateX(-50%) translateY(-50%)
      skewX(0deg);
    transform: rotateX(0deg) translateX(-50%) translateY(-50%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-30deg) translateX(100%) translateY(-50%)
      skewX(30deg);
    transform: rotateX(-30deg) translateX(100%) translateY(-50%) skewX(30deg);
    opacity: 0;
  }
}
@keyframes tilt-in-right-1-reverse {
  0% {
    -webkit-transform: rotateX(0deg) translateX(-50%) translateY(-50%)
      skewX(0deg);
    transform: rotateX(0deg) translateX(-50%) translateY(-50%) skewX(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateX(-30deg) translateX(100%) translateY(-50%)
      skewX(30deg);
    transform: rotateX(-30deg) translateX(100%) translateY(-50%) skewX(30deg);
    opacity: 0;
  }
} */

.scale-to-right {
  animation: scale-to-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-to-right {
  0% {
    transform: translate(-50%, -50%) scale(0);
    transform-origin: right center;
    opacity: 0;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 0.4;
  }
  60% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    transform-origin: right center;
    opacity: 1;
  }
}

/* Reverse animation */
.scale-to-right-reverse {
  animation: scale-to-right 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    reverse;
}

/* Transition class */
.translate125 {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.translateanim {
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.translateImage {
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.bgSet {
  background-image: url("/img/bgweb.webp");
  background-size: contain;
  background-position: right center;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

/* enter flip */

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.tilt-in-right-1 {
  -webkit-animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: tilt-in-right-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-right-1 {
  0% {
    -webkit-transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    transform: rotateX(-30deg) translateX(300px) skewX(30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}

.swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-bottom-fwd 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    opacity: 1;
  }
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
